<h2>Movie Details</h2>

<p> Title: {{movieData.title}} </p>
<br />
<p> Genre: {{movieData.genre}}</p>
<br />
<p> Plot: {{movieData.plot}}</p>
<br />

{{#each castData}}
  <p> Name: {{name}} </p>
  <br />
  <p> Occupation: {{occupation}} </p>
  <br />
  <p> Catchphrase: {{catchphrase}} </p>
  <br />

{{/each}}

<form action='/movies/{{movieData._id}}/delete' method='post'>

  <button>Delete</button>

</form>

<a href="/movies/{{movieData._id}}/edit">Edit</a>